<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>शुभ Journey</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
  </head>
  <body>
    <div class="footer container-fluid">
      <div class="main-footer">
        <div class="enquire-us">
          <form action="/home/send-message" method="post">
            <div class="input-group mb-3">
              <span class="input-group-text">Country Code</span>
              <input
                type="text"
                name="countrycode"
                placeholder="+XX"
                class="form-control"
                aria-label="Country Code"
                required
              />
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text">Phone Number</span>
              <input
                type="text"
                name="phonenumber"
                placeholder="Enter your WhatsApp Number"
                class="form-control"
                aria-label="Phone Number"
                required
              />
            </div>
            <div class="input-group mb-3">
              <label class="input-group-text" for="destination"
                >Destination</label
              >
              <select
                class="form-select"
                id="destination"
                name="destination"
                required
              >
                <option selected disabled>Choose a destination...</option>
                <option value="Ayodhya">Ayodhya</option>
                <option value="Varanasi">Varanasi</option>
                <option value="Char Dham">Char Dham</option>
                <option value="Vrindavan">Vrindavan</option>
                <option value="Haridwar">Haridwar</option>
                <option value="Rishikesh">Rishikesh</option>
                <option value="Auli">Auli</option>
                <option value="Manali">Manali</option>
                <option value="Shimla">Shimla</option>
                <option value="Mussorie">Mussorie</option>
                <option value="Nainital">Nainital</option>
                <option value="Chopta">Chopta</option>
                <option value="Udaipur">Udaipur</option>
                <option value="Agra">Agra</option>
                <option value="Amritsar">Amritsar</option>
                <option value="Others">Others</option>
              </select>
            </div>
            <button
              class="btn"
              type="submit"
              style="background-color: #3b8938; color: #fff"
            >
              Enquire Us Now
              <i
                class="bi bi-whatsapp ms-2"
                style="font-size: 3vw; color: #fff; background-color: #3b8938"
              ></i>
            </button>
          </form>
        </div>
        <div class="follow-us">
          <h3>Follow us At:</h3>
          <span
            ><a href="#"><i class="bi bi-facebook"></i></a>
            <a
              href="https://www.instagram.com/shubhjourney2024/?igsh=dmczZ2E4azFrcXR3"
              ><i class="bi bi-instagram"></i
            ></a>
            <a href="https://www.gmail.com"><i class="bi bi-envelope"></i></a>
          </span>
        </div>
        <div class="feedback-form">
          <p>
            You can also submit your valuable feedback to us. As our customers
            satisfaction matters the most to us.
          </p>
          <form action="/home/feedback" method="post">
            <input
              type="text"
              name="feedback"
              placeholder="Provide us with your feedback"
              class="form-control"
              required
            />
            <button class="btn btn-md btn-primary mt-2" type="submit">
              Submit
            </button>
          </form>
        </div>
        <div class="contact">
          <h3>Contact Us:</h3>
          <div class="contact-details">
            <p>
              <i class="bi bi-envelope-fill text-primary-subtle"></i>
              shubhjourney2607@gmail.com
            </p>
            <p>
              <i class="bi bi-telephone-fill text-primary-subtle"></i>(+91)
              9027700426<br />
              <i class="bi bi-telephone-fill text-primary-subtle"></i>(+91)
              9027331337
            </p>
            <p class="address">
              <i class="bi bi-geo-alt-fill"></i> Office address -Shop no. 1,
              Desh Rakshak Chowk, kankhal, Haridwar (249408)
            </p>
          </div>
        </div>
      </div>
      <p class="copyright">©copyright 2024 All Rights Reserved</p>
    </div>
  </body>
</html>
